@use "vendor";
@use "theme";
@use "fonts";
@use "parts/note";
@use "parts/code";
@use "parts/search";
@use "parts/toc";
@use "parts/latex";

:root {
  --note-color: #00c6ff;
  --note-bg: #212830;
  --bg-primary: #282828;
}
